<!doctype html>
<html data-theme="light" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Mynotor Minecraft</title>
</head>
<body>
    <main class="container-fluid">
        <div class="title">
            <h1>Mynotor Minecraft</h1>
            <fieldset x-data="{ mode: 'Light' }">
                <label>
                    Mode: <span x-text="mode"></span>
                    <input name="mode" type="checkbox" role="switch" />
                </label>
            </fieldset>
        </div>
        <div class="content" x-data="{ open: false }">
            <div role="group" class="view-switcher">
                <button @click="open = true" :class="open ? '' : 'outline'">Create</button>
                <button @click="open = false" :class="!open ? '' : 'outline'">Inspect</button>
            </div>
            <div class="create"  x-show="open">
                <div class="content-title">
                    Creator
                </div>
                <div class="grid">
                    <div>
                        Form
                    </div>
                </div>
            </div>
            <div class="inspect" :class="!open ? '' : 'outline'" x-show="!open">
                <div class="content-title">
                    Inspector
                </div>
                <div class="grid">
                   <div>
                       <table class="table striped">
                           <thead>
                           <tr>
                               <th scope="col" class="Name">Name</th>
                               <th scope="col" class="image">Image</th>
                               <th scope="col" class="ports">Network</th>
                               <th scope="col" class="state">State</th>
                               <th scope="col" class="status">Status</th>
                               <th scope="col" class="action">Action</th>
                           </tr>
                           </thead>

                           <tbody>
                           {{ range .Containers }}
                           <tr>
                               <td>{{ .Name }}</td>
                               <td>{{ .Image }}</td>
                               <td>
                                   {{ range .Ports }}
                                   {{ .IP }} - {{ .PrivatePort }}:{{ .PublicPort }}
                                   {{ end }}
                               </td>
                               <td>{{ .State }}</td>
                               <td>{{ .Status }}</td>
                               <td>
                                   Action
                               </td>
                           </tr>
                           {{ end }}
                           </tbody>
                       </table>
                   </div>
                </div>
            </div>
        </div>
    </main>
</body>
<style>
    body > main > div.content > div.view-switcher{
        margin-top: 35px;
        width: 27%;
    }
    body > main > div.title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    body > main > div.title > fieldset {
        text-align: right;
        text-align: -webkit-right;
    }
</style>
</html>